.icons {
    width: 30pt;
    height: auto;
    
    
  }
  
  
.icons:hover{
    animation: pulse infinite 1s ease-in-out;
    
}

.rodape{
    display: flex;
    flex-direction: row;
    padding: 20px;
    position: fixed;
    bottom: 0;
    
    align-items: center;
    text-align: center;
}